<!-- index.html -->
<head>
    <title>MIDI Jukebox Submission</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <link href="/static/css/sheet.css" rel="stylesheet">
</head>
<body class="text-center">
  <div class="window" style="width: 300px; margin: auto;">
    <div class="title-bar">
      <div class="title-bar-text">Upload to the Jukebox</div>
      <div class="title-bar-controls">
        <button aria-label="Help" onclick="displayHelp()"></button>
        </div>
      </div>
      <div class="window-body">
        <form id="form" class="g-3" action="/upload_files" enctype="multipart/form-data">
          <div class="field-row-stacked">
            <label for="textName">Name</label>
            <input type="text" id="textName" aria-label="Name">
          </div>
          <div class="field-row-stacked">
            <label for="formFile">MIDI</label>
            <input type="file" id="formFile" class="form-control" accept=".mid,.midi" aria-label="MIDI">
          </div>
          <div class="field-row">
            <button type="submit" id="btnSubmit">Send</button>
          </div>
        </form>
        <img src="/static/img/worm.gif" />
    </div>
    <div class="status-bar">
    <p class="status-bar-field" id="lblStatus">Pending MIDI File...</p>
    </div>
  </div>
  <script src='/static/js/submit.js'></script>
</body>
